@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-xss: 25rem;
}

.reveal {
  opacity: 0;
  transform: translateY(28px);
  transition:
    opacity 0.65s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.65s cubic-bezier(0.22, 1, 0.36, 1);
}

.reveal.revealed {
  opacity: 1;
  transform: translateY(0);
}

/* Delays opcionales */
.reveal-delay-0 {
  transition-delay: 0ms;
}

.reveal-delay-100 {
  transition-delay: 100ms;
}

.reveal-delay-200 {
  transition-delay: 200ms;
}

.reveal-delay-300 {
  transition-delay: 300ms;
}

.reveal-delay-400 {
  transition-delay: 400ms;
}

.reveal-delay-500 {
  transition-delay: 500ms;
}

.reveal-delay-600 {
  transition-delay: 600ms;
}

.reveal-delay-700 {
  transition-delay: 700ms;
} 

.reveal-delay-800 {
  transition-delay: 800ms;
}

.reveal-delay-900 {
  transition-delay: 900ms;
}

.reveal-delay-1000 {
  transition-delay: 1000ms;
}

.reveal-delay-1500 {
  transition-delay: 1500ms;
}

.reveal-delay-2000 {
  transition-delay: 2000ms;
}

.reveal-delay-2500 {
  transition-delay: 2500ms;
}

.reveal-delay-3000 {
  transition-delay: 3000ms;
}